<%- include("partials/header.ejs") %>
    <% if(blog) { %>
        <div class="post">
            <form action="/update/<%= blog.id %>" method="post" enctype="multipart/form-data">
                <input id="title-input" type="text" name="title" value="<%= blog.blog_title %>"> <br>
                <label for="image"> <img id="imageImg" src=/image/<%=blog.image_id %> height="200"> </label>
                <input id="image" type="file" name="image" accept="image/*" style="display: none;"
                    onchange="renderImg(event)">
                <br>
                <textarea name="description"> <%= blog.blog_description %>
                                                </textarea> <br>
                <input id="publish_btn" type="submit" value="PUBLISH !">
            </form>
        </div>
        <% } else { %>
            <div class="post">
                <form action="/post" method="post" enctype="multipart/form-data">
                    <input id="title-input" type="text" name="title" placeholder="Title Goes Here!" required> <br>
                    <label for="image"> <img id="imageImg" src="/images/image-upload.png" height="200"> </label>
                    <input id="image" type="file" name="image" accept="image/*" style="display: none;"
                        onchange="renderImg(event, id)">
                    <br>
                    <textarea name="description" id="text-area" required>Write your thoughts here...
                                                        </textarea> <br>
                    <input id="publish_btn" type="submit" value="PUBLISH !">
                </form>
            </div>

            <% } %>
                <%- include("partials/footer.ejs") %>